<div class="itemWrap">
  <div class="item car <% if @car_trip_duration < @bus_trip_duration %>suggested <% end %>">
    <div class="header">
      <h2>czas dojazdu carem</h2>
      <div class="content">
        <div calss="estimatedTime">

        </div>

        <p>Autkiem śmigniesz w <%= @car_trip_duration %></p>
        <p><%= @jak %></p>

      </div>
    </div>
  </div>

  <div class="item bus <% if @car_trip_duration > @bus_trip_duration %>suggested <% end %>">
    <div class="header">
      <h2>czas dojazdu busem</h2>
    </div>
    <div class="content">
      <p>Bus z żulkiem i 2 Basie dowiezie Cię w takim czasie: <%= @bus_trip_duration %></p>
      <p><%= @jak %></p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

