<!DOCTYPE html>
<html>
<head>
  <title>AutoBus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="contentWrap">
    <a class="logo" href="/"></a>
    <%= yield %>
    <p class="copyright">All rights reserved. Copyright 2014 Auto-bus.com</p>
  </div>
</body>
</html>
